*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center; 
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  inline-size: 1140px;
  margin: 133px auto;
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

video.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

img.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  margin: 2px;
  padding: 2px;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 0;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card-title {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 6px;
  text-transform: uppercase;
  max-inline-size: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  max-inline-size: 200px;
  max-block-size: 65px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid currentColor;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__submit-button {
  padding: 5px 73.5px;
  align-self: flex-end;
}

.more-button {
  inline-size: 100%;
  padding: 5px 0;
}

.search-form__textfield {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  min-inline-size: 225px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__textfield:active {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

input[type="checkbox"] + span {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 5px;
}

input[type="checkbox"]:checked + span {
  width: 19px;
  height: 19px;
  background-color: white;
  border: 1px solid currentColor;
  padding: 1px;
  background-clip: content-box;
}
